/node_modules
/dist
/coverage
/logs
/results

.DS_Store
.idea
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
*.pem
*.history
*.sublime-project
*.sublime-workspace
*.tsbuildinfo
*.local
